body{
    background-color:lightblue;
    text-align: center;
}
header{text-align: left;}
h1{
    text-align: center;
    text-shadow: 2px 2px lightblue;
    background-color: white;
}
img{
    border-radius: 100%;
    text-align: left;
}
link{
    text-align: left;
}
table{
    text-align: left;
    margin-left: 500px;
}
h2{
    border-radius: 30%;
    text-align: center;
}

h3{
    border-radius: 30%;
    text-align: center;
}
h4{text-align: center;}
p{
    text-align: center;
}
h5{
    text-align: center;
}
p{
    text-align: center;
}
thead{text-align: center;}